* {
  box-sizing: border-box;
}
body {
  margin: 60px;
}

button {
  padding: 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}

input {
  display: block;
  margin: 0.5rem;
}

blockquote {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 0;
  padding: 0.5rem;
  border-radius: 4px;
  background-color: rgb(241, 235, 235);
}

.flex {
  display: flex;
}
.flex-jcsb {
  display: flex;
  justify-content: space-between;
}
.complete {
  text-decoration: line-through;
}

.isActive {
  color: 'red';
}
.red {
  color: 'red';
}
.blue {
  color: 'blue';
}
